includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/

    # Level (0-9, 最大9が最も厳格)
    level: 5

    ignoreErrors:
        # Laravelのマジックメソッドなど、特定のエラーを無視
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    # 未使用の変数や関数をチェック
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkImplicitMixed: false
